@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
/* font-family: 'DynaPuff', cursive; */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
/* font-family: 'RocknRoll One', sans-serif; */

header > h1 {
    font-family: 'DynaPuff', cursive;
    color: white;
    background-color: #093756;
    text-align: center;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #E0DEF4;
    color: #371959;
}

section {
    visibility: hidden;
}

footer {
    background-color: #093756;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}